header {
  padding: 7.5px 170px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li {
  list-style: none;
}
header ul li .search-icon {
  width: 22px;
  height: 22px;
  display: block;
  cursor: pointer;
  margin: 13px 25px;
}
header ul li form {
  display: none;
}
header ul li a {
  padding: 13px 25px;
  font-size: 14px;
  letter-spacing: 3px;
  color: #707070;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  font-family: "Questrial";
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 2;
}
header ul li a::after {
  content: "";
  width: 100%;
  height: 0%;
  z-index: -1;
  position: absolute;
  left: 0px;
  background-color: #fd5875;
  top: 100%;
  transition: 0.3s;
}
header ul li a:hover, header ul li a.active, header ul li a :active {
  color: #fff;
}
header ul li a:hover::after, header ul li a.active::after, header ul li a :active::after {
  height: 100%;
  top: 0%;
}

.landing {
  padding: 20px;
  height: 860px;
  margin: 0px auto;
  text-align: center;
  background-color: #fc758c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing .content-landing {
  margin: auto;
}
.landing .content-landing h2 {
  font-size: 40px;
  letter-spacing: 12px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0px auto;
}
.landing .content-landing p {
  font-size: 17px;
  letter-spacing: 3px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin: 48px auto;
  max-width: 590px;
}
.landing .content-landing a {
  font-size: 10px;
  letter-spacing: 2px;
  color: #ff5773;
  padding: 15px 30px;
  background-color: #fff;
  max-width: 170px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Questrial";
  text-decoration: none;
  margin: 10px auto;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;
  display: block;
  transition: 1s;
}
.landing .content-landing a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #fd5875;
  top: 100%;
  transition: 0.3s;
  left: 0px;
}
.landing .content-landing a:hover {
  color: #fff;
  border: 2px solid #fff;
}
.landing .content-landing a:hover::after {
  top: 0%;
}

.config-blocks {
  margin: 45px auto;
  text-align: center;
  display: block;
}
.config-blocks .block-view {
  margin: auto 12px;
  cursor: pointer;
}

.navegation {
  display: block;
  margin: 45px auto;
}
.navegation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navegation ul li {
  list-style: none;
}
.navegation ul li a {
  padding: 13px 25px;
  font-size: 14px;
  letter-spacing: 3px;
  color: #707070;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  font-family: "Questrial";
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 2;
}
.navegation ul li a::after {
  content: "";
  width: 100%;
  height: 0%;
  z-index: -1;
  position: absolute;
  left: 0px;
  background-color: #fd5875;
  top: 100%;
  transition: 0.3s;
}
.navegation ul li a:hover, .navegation ul li a.active, .navegation ul li a :active {
  color: #fff;
}
.navegation ul li a:hover::after, .navegation ul li a.active::after, .navegation ul li a :active::after {
  height: 100%;
  top: 0%;
}

.content-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-gallery .column-imgs {
  display: flex;
  flex-direction: column;
}
.content-gallery .column-imgs .content-img {
  max-width: 370px;
  position: relative;
  height: min-content;
  overflow: hidden;
  margin: 15px 0px;
}
.content-gallery .column-imgs .content-img img {
  max-width: 100%;
  transition: 0.3s;
  opacity: 1;
}
.content-gallery .column-imgs .content-img:hover img {
  opacity: 0.1;
}
.content-gallery .column-imgs .content-img:hover .description {
  width: 97.3%;
  height: 97%;
  border-radius: 0px;
}
.content-gallery .column-imgs .content-img:hover .description h3, .content-gallery .column-imgs .content-img:hover .description span {
  opacity: 1;
}
.content-gallery .column-imgs .content-img .description {
  position: absolute;
  width: 0px;
  text-decoration: none;
  background-color: #ff5672;
  text-align: center;
  height: 0px;
  color: #fff;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  justify-content: center;
  left: 0px;
  right: 0px;
  margin: auto;
  overflow: hidden;
  top: 0px;
  border-radius: 10%;
  bottom: 0px;
}
.content-gallery .column-imgs .content-img .description h3 {
  border-bottom: 1px solid #fff;
  width: 73%;
  margin: 0px auto;
  padding-bottom: 24px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 5.55px;
  line-height: normal;
}
.content-gallery .column-imgs .content-img .description h3, .content-gallery .column-imgs .content-img .description span {
  transition: 2s;
  opacity: 0;
}
.content-gallery .column-imgs .content-img .description span {
  margin-top: 20px;
  color: #ffffff;
  font-family: Questrial;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  letter-spacing: 4px;
  line-height: normal;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-family: "Questrial", sans-serif;
  margin: 0px;
  padding: 0px;
}
body main {
  max-width: 1170px;
  margin: auto;
  display: block;
}

/*# sourceMappingURL=styles.css.map */
