@import 'sections/header','sections/landing','sections/section','sections/footer';
body{
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Questrial', sans-serif;
    margin: 0px;
    padding: 0px;
    &.scroll-hidden{
        overflow-y:hidden;
    }
    main{
        max-width: 1170px;
        margin: auto;
        display: block;
    }
}