footer{
    margin-top: 88px;
    p{
        color: #c3d0d8;
        font-family: Questrial;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        display: block;
        margin: auto;
        font-style: normal;
        letter-spacing: 2.6px;
        line-height: normal;
        span{
            color: #ff5773;
            font-style: normal;
            letter-spacing: 2.6px;
            line-height: normal;
        }
    }
    ul{
        display: flex;
        justify-content: center;
        padding: 0px;
        align-items: center;
        li{
            margin: 10px;
            list-style: none;
            a{
                width: 16px;
            }
        }
    }
}